@import url('https://fonts.googleapis.com/css?family=Lato:700|Source+Sans+Pro:300');

body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    margin-top: 150px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

h2, h3 {
    font-size: 1.5em;
}