.contact {
    width: 100%;
    margin: 0 auto;
}

.contact a {
    color: #ba816e;
    text-decoration: none;
}

.contact a:hover {
    text-decoration: underline;
}

.social a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
}

.social p {
    margin-bottom: .5em;
}

.social div {
    margin-bottom: 1em;
}

.social a:hover {
    color: #ba816e;
}

.social img {
    width: 35px;
    margin-right: 15px;
}

.button {
    background: #ba816e;
    text-align: center;
    padding: 10px 0;
    color: #000;
    cursor: pointer;
    transition: all .2s;
    font-weight: 700;
    width: 200px;
}

.button:hover {
    background: #94695b;
    text-align: center;
    padding: 10px 0;
}