.footer {
    background: #000;
    color: #fff;
    width: 100%;
}

.wrapper {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 25px;
}

.blurb {
    display: inline-block;
    text-align: left;
    flex-basis: 100%;
}

.logo {
    display: none;
}

@media (min-width: 768px) {
    .wrapper {
        max-width: 80%;
    }

    .blurb {
        flex-basis: 70%;
    }

    .logo {
        display: inline;
        flex-grow: 1;
        text-align: right;
    }
    
    .logo img {
        width: 150px;
        filter: grayscale(100%);
    }
}