.footer {
    background: #000;
    color: #fff;
    width: 100%;
}

.wrapper {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 25px;
}

.blurb {
    display: inline-block;
    text-align: left;
    flex-basis: 100%;
}

.logo {
    display: none;
}

.social {
    border-bottom: 3px solid #fff;
    display: inline-block;
    padding-bottom: 0.5em;
}

.social a img{
    width: 30px;
    height: 35px;  
}

.social a:not(:last-of-type) {
    margin-right: 15px;
}

.contactDetails a:link {
    color: white;
    text-decoration: none;
}

.contactDetails a:hover {
    color: #ba816e;
}

.contactDetails a:visted {
    color: white;
}

@media (min-width: 768px) {
    .wrapper {
        max-width: 80%;
    }

    .blurb {
        flex-basis: 70%;
    }

    .logo {
        display: inline;
        flex-grow: 1;
        text-align: right;
    }
    
    .logo img {
        width: 150px;
        filter: grayscale(100%);
    }
}