.header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 3;
}

.header h1 {
    display: inline;
}

.header a {
    color: #fff;
    text-decoration: none;
}

.header a:visited {
    color: #fff;
}

.header .top {
    height: 60px;
    background-color: #000;
    border-bottom: 3px solid #ba816e;
}

.header .bottom {
    height: 50px;
    background-color: rgba($color: #000000, $alpha: 0.7)
}

.header .wrapper {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    transition: all .2s;
}

.logo {
    flex-basis: 100%;
    padding: 10px 0px;
}

.logo img {
    width: 150px;
    transition: all .2s;
}

.logo a {
    cursor: pointer;
}

.nav ul {
    list-style: none;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 0.7em;
    margin: 0;
    padding: 1.5em 0;
}

.nav ul li a{
  
    transition: all .3s;
    padding-bottom: 2px;
}

.nav ul li a[data-selected="true"],
.nav ul li a:hover {
  
    color: #ba816e;
    border-bottom: 2px solid #ba816e; 
}

.logo img:hover {
    transform: scale(1.1);
}

@media (min-width: 768px) {
    .header .wrapper {
        max-width: 80%;
        text-align: left;
    }

    .nav {
        flex-grow: 1;
        text-align: right;
        display: inline;
    }

    .nav ul li {
        display: inline;
        margin-right: 1.5em;
    }
}