.legacy {
    width: 100%;
    margin: 0 auto;
}

.title {
    max-width: 80%;
    margin: 2em auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.block {
    flex-basis: 100%;
    padding: 50px;
    box-sizing: border-box;
    min-height: 300px;
}

.block.black {
    background: #000;
    color: #fff;
}

.video {
    width: 80%;
    margin: 0 auto 4em auto;
    text-align: center;
}

.video iframe {
    width: 100%;
    height: 300px;
}

.marker {
    font-weight: 300;
    font-size: .5em;
    line-height: 20px;
    display: inline;
    line-height: 3px;
    color: #ba816e;
}

.header {
    position: relative;
    margin-left: 55px;
}

.header:before {
    position: absolute;
    content: "Habitus Capital";
    color: #ba816e;
    font-size: .45em;
    font-weight: 300;
    width: 40px;
    left: -55px;
}

.header:after {
    position: absolute;
    content: "/";
    color: #ba816e;
    font-weight: 300;
    width: 40px;
    left: -15px;
}

.highlight {
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    font-weight: 700;
    color: #ba816e;
}

.highlight:after {
    content: ' / ';
    font-weight: 400;
}

.slideContent {
    max-width: 70%;
    margin: 80px auto 0 auto;
    background: rgba($color: #000, $alpha: .6);
    padding: 20px;
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.5);
}

.sliderTitle {
    color: #fff;
    font-size: 1.5em;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.8);
    margin: 0 auto;
}

.slideContent.legacy {
    background: none;
    box-shadow: none;
}

.slideContent.legacy .tense {
    font-weight: 700;
    font-size: 1.2em;
}

.slideContent.legacy .tenseDivider {
    display: none;
}

.tense {
    color: #ba816e;
    // border-bottom: 2px solid #ba816e;
    // text-shadow: 2px 2px 5px rgba(0,0,0,0.8);
    margin: 0 auto;
    padding-bottom: 5px;
    position: relative;
}

// .tense:before {
//     position: absolute;
//     content: " ";
//     width: 15px;
//     height: 15px;
//     background: #ba816e;
//     border-radius: 50%;
//     top: 20px;
// }

.tenseDivider {
    width: 100%;
    height: 2px;
    background-color: #ba816e;
    position: relative;
    margin: 0 auto 10px auto;
}

.tenseDivider span {
    position: absolute;
    // content: " ";
    width: 15px;
    height: 15px;
    background: #ba816e;
    border-radius: 50%;
    top: -6px;
}

.tenseDivider .present {
    left: 49%;
}

.tenseDivider .future {
    right: 0%;
}

.tense[data-tense="Past"] {
    text-align: left;
}

.tense[data-tense="Present"] {
    text-align: center;
}

.tense[data-tense="Future"] {
    text-align: right;
}

.tense[data-tense="Present"]:before {
    left: 48%;
}

.tense[data-tense="Future"]:before {
    right: 0;
}

.legacy canvas {
    display: none;
}

@media (min-width: 411px) {
    .video iframe {
        max-width: 80%;
        height: 200px;
    }
}

@media (min-width: 768px) {
    .title {
        max-width: 80%;
    }
    .block {
        flex-basis: 50%;  
    }

    .block.left {
        padding-left: 10%; 
    }

    .block.right {
        padding-right: 10%;
    }

    .video iframe {
        max-width: 80%;
        height: 300px;
    }

    .slideContent {
        margin-top: 250px;
        max-width: 30%;
    }

    .sliderTitle {
        font-size: 2.5em;
        text-align: center;
        // max-width: 500px;
    }

    .slideContent.left {
        margin-left: 100px;
    }

    .slideContent.right {
        margin-right: 100px;
    }

    .legacy canvas {
        display: block;
    }
}

@media (min-width: 1000px) {
    .video iframe {
        max-width: 80%;
        height: 450px;
    }
}

@media (min-width: 1300px) {
    .video iframe {
        max-width: 80%;
        height: 450px;
    }
}