.legacy {
    width: 100%;
    margin: 1em auto;
}

.title {
    max-width: 80%;
    margin: 2em auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.block {
    flex-basis: 100%;
    padding: 50px;
    box-sizing: border-box;
    min-height: 300px;
}

.block.black {
    background: #000;
    color: #fff;
}

.video {
    width: 80%;
    margin: 0 auto 4em auto;
    text-align: center;
}

.video iframe {
    width: 100%;
    height: 300px;
}

.marker {
    font-weight: 300;
    font-size: .5em;
    line-height: 20px;
    display: inline;
    line-height: 3px;
    color: #ba816e;
}

.header {
    position: relative;
    margin-left: 55px;
}

.header:before {
    position: absolute;
    content: "Habitus Capital";
    color: #ba816e;
    font-size: .45em;
    font-weight: 300;
    width: 40px;
    left: -55px;
}

.header:after {
    position: absolute;
    content: "/";
    color: #ba816e;
    font-weight: 300;
    width: 40px;
    left: -15px;
}

.highlight {
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    font-weight: 700;
    color: #ba816e;
}

.highlight:after {
    content: ' / ';
    font-weight: 400;
}

.slideContent {
    max-width: 70%;
    margin: 80px auto 0 auto;
}

.sliderTitle {
    color: #fff;
    font-size: 1.5em;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.8);
    margin: 0 auto;
}

.tense {
    color: #ba816e;
    border-bottom: 3px solid #ba816e;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.8);
    margin: 0 auto;
}

.tense[data-tense="Past"] {
    text-align: left;
}

.tense[data-tense="Present"] {
    text-align: center;
}

.tense[data-tense="Future"] {
    text-align: right;
}

.legacy canvas {
    display: none;
}

@media (min-width: 411px) {
    .video iframe {
        max-width: 80%;
        height: 200px;
    }
}

@media (min-width: 768px) {
    .title {
        max-width: 80%;
    }
    .block {
        flex-basis: 50%;  
    }

    .block.left {
        padding-left: 10%; 
    }

    .block.right {
        padding-right: 10%;
    }

    .video iframe {
        max-width: 80%;
        height: 300px;
    }

    .slideContent {
        margin-top: 200px;
        max-width: 30%;
    }

    .sliderTitle {
        font-size: 3em;
        // max-width: 500px;
    }

    .slideContent.left {
        margin-left: 200px;
    }

    .slideContent.right {
        margin-right: 200px;
    }

    .legacy canvas {
        display: block;
    }
}

@media (min-width: 1000px) {
    .video iframe {
        max-width: 80%;
        height: 450px;
    }
}

@media (min-width: 1300px) {
    .video iframe {
        max-width: 80%;
        height: 450px;
    }
}