.performance {
    width: 100%;
    margin: 0 auto 5em auto;
}

.title {
    max-width: 80%;
    margin: 0 auto 2em auto;
    border-bottom: 2px solid #ba816e;
}

.tabList {
    width: 80%;
    list-style: none;
    margin: 0 auto 10px auto;
    padding: 0;
}

.tabList li {
    display: inline;
    padding: 10px;
    cursor: pointer;
    transition: all .2s;
}

.tabList li[data-active="true"],
.tabList li:hover {
    color: #ba816e;
    text-decoration: underline
}

.tabContainer {
    width: 80%;
    padding: 15px;
    box-shadow: 2px 2px 5px 0px (rgba(0,0,0,0.5));
    margin: 0 auto;
    box-sizing: border-box;
}

.chart {
    max-width: 100%;
    margin: 0 auto;
}