.performance {
    width: 100%;
    margin: 0 auto 5em auto;
}

.tabList {
    width: 80%;
    list-style: none;
    margin: 0 auto 20px auto;
    padding: 0;
    color: white;
}

.tabList li {
    display: block;
    padding: 10px;
    cursor: pointer;
    transition: all .2s;
    background-color: #307968;
    margin-bottom: 10px;
    width: 240px;
}

.tabList li[data-active="true"],
.tabList li:hover {

    background-color: #ba816e;
}

.tabList li:after {
  content: " \2304"
}

.tabContainer {
    width: 80%;
    padding: 15px;
    box-shadow: 2px 2px 5px 0px (rgba(0,0,0,0.5));
    margin: 0 auto;
    box-sizing: border-box;
}

.tabContainer h3 {
  margin-top: 0;
}

.chart {
    max-width: 100%;
    // min-height: 200px;
    margin: 0 auto;
}

// Spinner

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #307968;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

@media (min-width: 768px) {
  .tabList li {
    display: inline;
    padding: 10px;
    cursor: pointer;
    transition: all .2s;
    background-color: #307968;
    margin-right: 10px;
  }
}
